<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer> -->

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="soc">
                <a href="#"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            </div>
            <p>{{- site.description | escape -}}</p>
            <p>
                <strong>{{ site.title | escape }}</strong> by <a href="http://www.cardcut.co">{{ site.author | escape }}</a>.
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
            </p>
            
        </div>
    </div>
</footer>
