---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Bulma.io CSS Framework
@import 'bulma';

// Custom
.navbar-brand {
  font-weight: bold;
}

.post-card {

  .post-title {
    font-size: 1.6em;
  }

  .post-categories {
    margin-bottom: 5px;
  }
}



.depth-0 {
  background-color: #D1DEDE !important;
}
.depth-1 {
  background-color: #E4FDE1 !important;
}
.depth-2 {
  background-color: #FFBF46 !important;
}
.depth-3 {
  background-color: #B8C4C4 !important;
  // background-color: #BBDEF0 !important;
}
.depth-4 {
  background-color: #BACEB7 !important;
  // background-color: #62929E !important;
}
.depth {
  padding-left: 10%;
  // margin-bottom: 5%;
}
.card-section {
  // margin: 0.5rem 0.5rem !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  // padding: 0;
}
.container-section {
  // margin: 0.5rem 0.5rem !important;
  padding: 1rem 1rem !important;
  // padding: 0;
}
.col-padding {
  padding: 0.35rem !important;
}
