---
layout: default
---

<div class="container">
  <div id="flow">
      <span class="flow-1"></span>
      <span class="flow-2"></span>
      <span class="flow-3"></span>
  </div>
  <div class="section">
      <div class="row columns is-multiline">
        {% for cat in site.category-list %}
        <section class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <h1 class="title is-1">{{ cat  | capitalize }}</h1>
              <div class="columns is-multiline">
              {% for page in site.pages %}
                {% if page.resource == true %}
                  {% for pc in page.categories %}
                    {% if pc == cat %}
                      <div class="column is-one-fifth">
                        <a href="{{ page.url  | prepend: site.baseurl }}">
                          <div class="card article">
                            <div class="card-content">
                              <div class="content article-body">
                                {{ page.title }}
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    {% endif %}   <!-- cat-match-p -->
                  {% endfor %}  <!-- page-category -->
                {% endif %}   <!-- resource-p -->
              {% endfor %}  <!-- page -->
              </div>
            </div>
          </div>
        </section>
        {% endfor %}  <!-- cat -->
      </div>
      <!-- End Developers -->
  </div>
</div>